[Unit]
Description=tesla 2bus
After=network.target

[Service]
ExecStart=/opt/tesla-2bus/server.py
#Type=forking
#PIDFile=
Restart=always
RestartSec=2
User=root
Group=root
WorkingDirectory=/opt/tesla-2bus/
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=2bus
EnvironmentFile=/opt/tesla-2bus/vars.env

[Install]
WantedBy=multi-user.target
